.MobileNavLink {
  height: 80px;
  width: 100%;
  color: white;
  font-family: 'Bungee Outline', cursive;
  font-size: 60px;
  font-weight: 700;
  background-color: #0D191F;
  padding: 16px 0px 8px 8px;
}

.MobileNavLink:hover {
  background-color: #273339;
}
