.NavBar {
  background-color: #0D191F;
  height: 80px;
  width: 100%;
  box-shadow: 0 4px 3px -3px #0D191F;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media screen and (max-width: 720px) {
  .NavBar {
    border-bottom: 6px solid #FFCA28;
  }
}
